@import "../assets/styles/"

.page
  background linear-gradient(to right, _blackDark 0%, _blackDark 49%, #ececec 100%)

.title
  text-transform uppercase
  text-align center
  font-size _mainTitleSize
  color _gray
  margin 0
  padding-top 130px
  padding-bottom 90px

.logo
  width 492px
  display block
  margin 0 auto
  padding-bottom 152px

