@import "../assets/styles/"

.bodyPage
  max-width 1440px
  margin 0 auto
  .leftButton
    text-align: left
  .buttonBack
    position: relative
    text-decoration none
    text-transform uppercase
    font-size _titleSize
    display inline-block
    text-align: left
    padding: 5px 0
    &:visited, &:active
      color _black
    &:after
      _afterLine(2px)
      bottom -2px
      transition background .05s ease-in-out
    &:hover:after
      background: _gold

.orderInfo
  border-collapse collapse
  font-size _titleSize
  //margin-top 110px
  margin-left: 50px
  td
    padding 5px 0
  &Label
    min-width 320px
    text-align left
  &Value
    text-align right

.totalPrice
  width 100%
  text-transform uppercase
  border-top 2px solid _gray
  padding 20px 150px 20px 50px
  margin-top 45px
  font-size _titleSize

  .orderInfoLabel
    padding-left 50px
  .orderInfoValue
    min-width 190px
    padding-right 59px


.blockPayment
  display: flex
  flex-wrap wrap
  justify-content center
  padding: 125px 0
  h3
    text-transform uppercase
    font-weight: normal
  .qrPay
    width: 300px
    img, div
      float left
    div
      padding: 20px 0
  .classicPay
    width: 460px
  .middleText
    padding: 110px 75px 0
  .priceInBtc
    font-size: 62px
    text-align: left
  .addressPay
    font-size: _titleSize
    display: inline-block
    border-bottom: 2px solid _black
    padding: 2px 15px
  .toAccount
    text-align: left
    padding: 45px 0 12px
  .moreInfo
    text-align: left
    padding: 10px
    div
      text-align: center
      margin-right: 5px
      display: inline-block
      width: 20px
      height: 20px
      border-radius: 50%
      border: 1px solid _gray

.left
  float left