@import "../assets/styles/"

.bodyPage
  max-width 1440px
  margin 0 auto


  .buttonBack
    text-decoration none
    text-transform uppercase
    font-size _titleSize
    display flex



.orderInfo
  border-collapse collapse
  font-size _titleSize
  margin-top 110px
  td
    padding 5px 0
  //padding 110px 0 0
  &Label
    min-width 320px
    text-align left
  &Value
    text-align right

.totalPrice
  width 100%
  text-transform uppercase
  border-top 1px solid black
  padding 20px 150px 20px 50px
  margin-top 45px
  font-size _titleSize

  .orderInfoLabel
    padding-left 50px
  .orderInfoValue
    padding-right 59px


