@import "../assets/styles/"

.button
  background: _black
  text-transform uppercase
  display: inline-block
  border-bottom 2px solid _gold
  padding: 12px 25px
  text-decoration: none
  a, a:visited, a:active
    color _gray
    text-decoration: none