@import "../assets/styles/"

footer
  display: inline-block
  margin: 0 auto
  ul
    list-style none
    display flex
    margin: 0
    li
      text-decoration none
      color _black
      padding 20px 16px 45px
      font-size _textSize