@import "../assets/styles/"

body, a
  font-family _fontRegular, Calibri, sans-serif

header
  height 75px
  background _black
  display flex
  justify-content space-between
  padding: 28px 50px
  box-sizing border-box
  .logoText
    width 131px
    height 23px
  .menu
    display flex
    margin: 0
    .active
      color _gold
    a
      text-transform uppercase
      text-decoration none
      color _gray
      padding 0 16px
      font-size _titleSize
      transition text-shadow .12s linear
      &:hover
        text-shadow 1px 1px 2px rgba(255,255,255,.5)

.black
  height 1px
  background-color _black
.gold
  height: 2px
  background: linear-gradient(to right, _gold, _black 50%, _black)

