@import "../assets/styles/"

body, a
  font-family _fontRegular

header
  height 75px
  background _black
  display flex
  justify-content space-between
  padding: 28px 50px
  box-sizing border-box
  .logoText
    width 131px
    height 23px
  .menu
    list-style none
    display flex
    margin: 0
    a
      text-transform uppercase
      text-decoration none
      color _gray
      padding 0 16px
      font-size _titleSize

.black
  height 1px
  background-color _black
.gold
  height: 2px
  background: linear-gradient(to right, _gold, _black 50%, _black)

