@import "../assets/styles/"

_input()
  background: transparent
  font-weight: normal
  border none
  border-bottom: 1px solid _black
  position: relative
  line-height: 34px
  min-width: 278px
  padding: 0 10px
  font-size: _titleSize

.formItem
  margin: 0 15px
  display: inline-block
  position: relative
  label
    position: absolute
    display: inline-block
    width: 100%
    text-align: left
    padding: 0 10px
    line-height: 32px
    color _gray
    font-size: _titleSize
    left: 0
    top: 0
    z-index: -1
    transition line-height .12s linear
    &.inputFill
      font-weight: bold
      font-size 12px
      line-height: 12px
      top: -7px
      color _gray
  input
    _input()

select.item
  _input()
  option
    font-size: _titleSize