.orderInfo
  margin-top: 50px
  td
    padding: 5px 0
  .orderCarName
    font-weight: bold
  .selectedOptions td
    padding: 5px 30px 5px 0
    text-align: left
  .orderInfoValue
    padding-right: 20px
  .plus
    transform rotate(45deg)
    padding-top: 15px