@import "../assets/styles/"

.plus
  opacity: .55
  transition opacity .12s linear
  padding: 10px 5px
  &:hover
    opacity: 1
  div
    position: relative
    background: _black
  :last-child
    transform rotate(90deg)
