
_mainTitleSize = 26px
_titleSize = 22px
_textSize = 18px

path = "../assets/fonts/PTSans/PT_Sans-Web-Regular.ttf"

@font-face
  font-family: '_fontRegular'
  font-display: fallback
  src: url(path) format('truetype')
  font-weight normal
  font-style normal
